doctype
html
  head
    title Congratulations!
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/main.css")
    link(href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet")
  body
    != yield
  script(src="app.js")
