html, 
body {
    margin: 0;
    padding: 0;
    background: #000;
    height: 100%;
    width: 100%;
}

#confetti {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.container {
  padding: 2rem;
}
.message {
  color: yellow;
  font-family: 'Chewy', cursive;
  font-size: 5rem;
  text-align: center;

  margin: auto;

  z-index: 1000;
}

.animate {
  animation-name: pulse;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (min-width: 800px) {
  .container {
    padding: 10rem;    
  }
  .message {
    font-size: 8rem;
  }
}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
  
    30% {
      transform: scale(1);
    }
  
    40% {
      transform: scale(1.08);
    }
  
    50% {
      transform: scale(1);
    }
  
    60% {
      transform: scale(1);
    }
  
    70% {
      transform: scale(1.05);
    }
  
    80% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1);
    }
  }
